.asociados {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Espacio entre tarjetas */
}

.tienda-card {
  background-color: #f9f9f9; /* Fondo de las tarjetas */
  border: 1px solid #ddd; /* Borde de las tarjetas */
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.view-tienda {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
